name: zmaker_pro
description: ZMaker Pro with alarm, charts, bedtime alert
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_local_notifications: ^19.5.0
  timezone: ^0.9.0
  sqflite: ^2.2.8+4
  path: ^1.8.3
  path_provider: ^2.0.15
  fl_chart: ^0.70.0
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
